@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

.exo {
  font-family: "Exo", sans-serif;
}

.DM-Sans {
  font-family: "DM Sans", sans-serif;
}
